<ion-header>
  <ion-toolbar class="custom-header">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/personalinfotrainer']">
          <div class="header-button">
            Personal Info
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/searchcoursestrainer']">
          <div class="header-button">
            Manage Courses
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/searchpathstrainer']">
          <div class="header-button">
            Manage Paths
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/aboutapptrainer']">
          <div class="header-button">
            About the App
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" (click)="btnLogOutClick()">
          <div class="header-button">
            Log out
          </div>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image"></div>
  <div class="container">
    <div class="login-panel">
      <div class="name-panel">
        <ion-label>{{courseName}}</ion-label>
      </div>
      <div class="list-panel">
        <li class="custom-list-item" *ngFor="let item of items">
          <table style="width: 100%;">
            <tr>
              <td colspan="4">
                {{item.text}}
              </td>
              <td style="text-align: center; font-weight: bold; color: #857643;">
                {{item.needsGrading}}
              </td>
              <td style="background-color: #241C00; text-align: center;">
                <button class="custom-list-button" (click)="SecondButtonClick(item)">Edit</button>
              </td>
              <td style="background-color: #241C00; text-align: center;">
                <button class="custom-list-button" (click)="ThirdButtonClick(item)">Delete</button>
              </td>
            </tr>
          </table>
        </li>
      </div>
      <br>
      <table style="width: 80%; border: 2px solid #857643; margin-left: 10%; background-color: #D6CAA2; color: #241C00;">
        <tr>
          <td colspan="6">
            <ion-input type="text" required name="tbText" required [(ngModel)]="newText" placeholder="Insert the text for a new assignment here. (max 2000)"></ion-input>
          </td>
        </tr>
        <tr style="text-align: center; border-top: 2px solid #857643;">
          <td>
            <ion-label style="font-weight: bold;">Needs grading by me:</ion-label>
          </td>
          <td>
            <ion-toggle [checked]="checkedToggle" (ionChange)="changeToggle()"></ion-toggle>
          </td>
          <td colspan="2" style="background-color: #241C00;">
            <button class="custom-list-button" (click)="FourthButtonClick()">Add</button>
          </td>
          <td colspan="2" style="background-color: #241C00;">
            <button class="custom-list-button" (click)="FirstButtonClick()" [disabled]="hiddenConfirmButton">Confirm</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-footer">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <button style="background-color: #857643;" onclick="window.open('https://www.udemy.com/', '_blank');"><img style="height: 35px; width: 100px;" src="../../assets/img/udemy.png" alt="udemy"></button>
      </ion-col>
      <ion-col>
        <button style="background-color: #857643;" onclick="window.open('https://www.coursera.org/', '_blank');"><img style="height: 35px; width: 100px;" src="../../assets/img/coursera.png" alt="coursera"></button>
      </ion-col>
      <ion-col>
        <button style="background-color: #857643;" onclick="window.open('https://www.linkedin.com/learning/', '_blank');"><img style="height: 35px; width: 100px;" src="../../assets/img/linkedin.png" alt="linkedin"></button>
      </ion-col>
      <ion-col>
        <button style="background-color: #857643;" onclick="window.open('https://www.skillshare.com/', '_blank');"><img style="height: 35px; width: 100px;" src="../../assets/img/skill.png" alt="skill"></button>
      </ion-col>
      <ion-col>
        <button style="background-color: #857643;" onclick="window.open('https://www.edx.org/school/harvardx', '_blank');"><img style="height: 35px; width: 100px;" src="../../assets/img/harvardx.png" alt="harvardx"></button>
      </ion-col>
      <ion-col>
        <button style="background-color: #857643;" onclick="window.open('https://leetcode.com/', '_blank');"><img style="height: 35px; width: 100px;" src="../../assets/img/leetcode.png" alt="leetcode"></button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
