<ion-header>
  <ion-toolbar class="custom-header">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/personalinfohr']">
          <div class="header-button">
            Personal Info
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/searchcourseshr']">
          <div class="header-button">
            Manage Courses
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/accountlist']">
          <div class="header-button">
            Edit User Info
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/reporttype']">
          <div class="header-button">
            Create Reports
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" [routerLink]="['/aboutapphr']">
          <div class="header-button">
            About the App
          </div>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button fill="clear" (click)="btnLogOutClick()">
          <div class="header-button">
            Log out
          </div>
        </ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image"></div>
  <div class="container">
    <div class="login-panel">
      <div class="name-panel">
        <ion-label>Path Report Creator</ion-label>
      </div>
      <div class="search-panel">
        <table style="width:100%; text-align: left;">
          <tr>
            <td>
              <ion-label class="custom-label">Name:</ion-label>
            </td>
            <td>
              <ion-input type="text" required name="tbName" required [(ngModel)]="strNameForm" placeholder="enter a name here"></ion-input>
            </td>
            <td>
              <ion-label class="custom-label">Category:</ion-label>
            </td>
            <td>
              <ion-input type="text" required name="tbCategory" required [(ngModel)]="strCategoryForm" placeholder="enter a category here"></ion-input>
            </td>
          </tr>
          <tr>
            <td>
              <ion-label class="custom-label">Created by:</ion-label>
            </td>
            <td colspan="3" style="text-align: left;">
              <ion-input type="text" required name="tbTrainer" required [(ngModel)]="strTrainerForm" placeholder="write a trainer's email here"></ion-input>
            </td>
          </tr>
          <tr>
            <td>
              <ion-label class="custom-label">Contains courses:</ion-label>
            </td>
            <td colspan="3" style="text-align: left;">
              <ion-input type="text" required name="tbCourses" required [(ngModel)]="strCoursesForm" placeholder="write a list of courses here"></ion-input>
            </td>
          </tr>
          <tr>
            <td>
              <ion-label class="custom-label">Lowest nr. of cours.:</ion-label>
            </td>
            <td>
              <ion-input type="text" required name="tbLowestCourses" required [(ngModel)]="strLowestCoursesForm" placeholder="enter a percentage here"></ion-input>
            </td>
            <td>
              <ion-label class="custom-label">Highest nr. of cours.:</ion-label>
            </td>
            <td>
              <ion-input type="text" required name="tbHighestCourses" required [(ngModel)]="strHighestCoursesForm" placeholder="enter a percentage here"></ion-input>
            </td>
          </tr>
          <tr>
            <td>
              <ion-label class="custom-label">Lowest nr. of completions:</ion-label>
            </td>
            <td>
              <ion-input type="text" required name="tbLowestCompletions" required [(ngModel)]="strLowestCompletionsForm" placeholder="enter a percentage here"></ion-input>
            </td>
            <td>
              <ion-label class="custom-label">Highest nr. of completions:</ion-label>
            </td>
            <td>
              <ion-input type="text" required name="tbHighestCompletions" required [(ngModel)]="strHighestCompletionsForm" placeholder="enter a percentage here"></ion-input>
            </td>
          </tr>
          <tr>
            <td>
              <ion-label class="custom-label">Lowest nr. of curr. enroll.:</ion-label>
            </td>
            <td>
              <ion-input type="text" required name="tbLowestCurrEnrollments" required [(ngModel)]="strLowestCurrEnrollmentsForm" placeholder="enter a percentage here"></ion-input>
            </td>
            <td>
              <ion-label class="custom-label">Highest nr. of curr. enroll.:</ion-label>
            </td>
            <td>
              <ion-input type="text" required name="tbHighestCurrEnrollments" required [(ngModel)]="strHighestCurrEnrollmentsForm" placeholder="enter a percentage here"></ion-input>
            </td>
          </tr>
          <tr>
            <td>
              <ion-label class="custom-label">Sort by:</ion-label>
            </td>
            <td>
              <ion-select [(ngModel)]="sortBy" (ionChange)="changeSortBy()" value="currentEnrollments" okText="Ok" cancelText="Cancel">
                <ion-select-option value="currentEnrollments">popularity</ion-select-option>
                <ion-select-option value="name">name</ion-select-option>
                <ion-select-option value="numberOfCourses">nr. of cours.</ion-select-option>
                <ion-select-option value="completions">nr. of compl.</ion-select-option>
            </ion-select>
            </td>
            <td>
              <ion-label class="custom-label">In order:</ion-label>
            </td>
            <td>
              <ion-select [(ngModel)]="sortMode"(ionChange)="changeSortMode()" value="desc" okText="Ok" cancelText="Cancel">
                <ion-select-option value="asc">ascending</ion-select-option>
                <ion-select-option value="desc">descending</ion-select-option>
              </ion-select>
            </td>
          </tr>
          <tr>
            <td colspan="4">
              <ion-button class="custom-search-button" expand="block" (click)="GetPathsReport()">
                <div class="custom-label-search">
                  Search
                </div>
              </ion-button>
            </td>
          </tr>
        </table>
      </div>
      <div class="list-panel">
        <li class="custom-list-item" *ngFor="let item of items">
          <ion-row>
            <ion-col>
              {{item.name}}
            </ion-col>
            <ion-col>
              {{item.noCourses}} cours.
            </ion-col>
            <ion-col>
              {{item.currentEnrollments}} curr. enroll.
            </ion-col>
            <ion-col>
              {{item.category}}
            </ion-col>
            <ion-col>
              {{item.completions}} compl.
            </ion-col>
            <ion-col>
              {{item.trainer}}
            </ion-col>
          </ion-row>
        </li>
      </div>
      <br>
      <ion-button class="login-button-custom" (click)="CreateReport()">
        <div class="login-button-text">
          Create Report
        </div>
      </ion-button>
      <br> <br> <br>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="custom-footer">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <button style="background-color: #857643;" onclick="window.open('https://www.udemy.com/', '_blank');"><img
            style="height: 35px; width: 100px;" src="../../assets/img/udemy.png" alt="udemy"></button>
      </ion-col>
      <ion-col>
        <button style="background-color: #857643;" onclick="window.open('https://www.coursera.org/', '_blank');"><img
            style="height: 35px; width: 100px;" src="../../assets/img/coursera.png" alt="coursera"></button>
      </ion-col>
      <ion-col>
        <button style="background-color: #857643;"
          onclick="window.open('https://www.linkedin.com/learning/', '_blank');"><img
            style="height: 35px; width: 100px;" src="../../assets/img/linkedin.png" alt="linkedin"></button>
      </ion-col>
      <ion-col>
        <button style="background-color: #857643;" onclick="window.open('https://www.skillshare.com/', '_blank');"><img
            style="height: 35px; width: 100px;" src="../../assets/img/skill.png" alt="skill"></button>
      </ion-col>
      <ion-col>
        <button style="background-color: #857643;"
          onclick="window.open('https://www.edx.org/school/harvardx', '_blank');"><img
            style="height: 35px; width: 100px;" src="../../assets/img/harvardx.png" alt="harvardx"></button>
      </ion-col>
      <ion-col>
        <button style="background-color: #857643;" onclick="window.open('https://leetcode.com/', '_blank');"><img
            style="height: 35px; width: 100px;" src="../../assets/img/leetcode.png" alt="leetcode"></button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>