<ion-header>
  <ion-toolbar>
    <ion-title>Reset your forgotten password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="background-image"></div>
  <div class="container">
    <div class="login-panel">
      <table style="width:90%">
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <ion-label class="custom-label">Email:</ion-label>
          </td>
          <td>
            <ion-input class="custom-input" type="text" required name="tbEmail" required [(ngModel)]="strEmail"></ion-input>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
      </table>
      <br>
      <ion-button (click)="SendPasswordResetRequest()">
        <div class="login-button-text">
          Send
        </div>
      </ion-button>
    </div>
  </div>
</ion-content>