<ion-header>
</ion-header>

<ion-content>
  <div class="background-image"></div>
  <div class="container">
    <div class="home-panel">
      <table style="width:100%">
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <ion-label class="welcome-label">Welcome!</ion-label>
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td>
            <ion-button [routerLink]="['/login']">
              <div class="login-button-text">
                Log In
              </div>
            </ion-button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ion-content>